.brand {
    font-family: 'Pacifico', cursive;
    padding-top: 0.5em;
}

a.brand, a.brand:hover, a.brand:visited {
    color: #fefefe;
}

.brand-big {
    font-size: 3em;
}

p.copyright a, p.copyright a:hover, p.copyright a:focus {
    color: #5cb85c;
}

.slides .ion-social-facebook, .slides .ion-social-instagram {
    color: #fefefe;
    font-size: 2.5em;
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: 1em;
}

.textslider h1,
.textslider h2,
.textslider h3 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.home .slide-content .flexslider {
    margin-top: 2em;
    margin-bottom: 4em;
}

span.brand {
    margin: 0 0.3em;
}

.section .slide-content {
    font-size: 1.2em;
}

.image-background {
    filter: grayscale(40%);
}

@media (max-width: 768px) {
    header a.brand {
        font-size: 2em;
    }

    .slide-content p.lead {
        font-size: 1em;
    }

    .slide-content a.border-button {
        padding: 10px 40px;
    }

    nav.socials-icons {
        background: transparent;
    }

    nav.socials-icons li {
        display: inline-block !important;
    }

    nav.socials-icons li a i {
        color: #fefefe;
        font-size: 4em;
    }

    footer.site-footer {
        color: #fefefe;
    }
}


