{% extends "base.html" %}

{% load i18n %}

{% block title %}{% if address_form.instance.pk %}{% trans "Changer l&rsquo;adresse" %}{% else %}{% trans "Nouvelle adresse" %}{% endif %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li class="m_right_10 current">
        <a href="/" class="default_t_color">
            {% trans "Accueil" %}
            <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
        </a>
    </li>
    <li class="m_right_10 current">
        <a href="{% url 'profile:details' %}" class="default_t_color">
            {% trans "Votre profil" %}
            <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
        </a>
    </li>
{% if address_form.instance.pk %}
    <li><a href="." class="default_t_color">{% trans "Changer l&rsquo;adresse" %}</a></li>
{% else %}
    <li><a href="." class="default_t_color">{% trans "Nouvelle adresse" %}</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <form method="post" novalidate>
            {% csrf_token %}
            <h4>{% trans "Address" %}</h4>
            <br>
            {% include "userprofile/snippets/address-form.html" %}
            <p class="text-right">
                <button type="submit" class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">{% trans "Sauvegarder" %}</button>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
