{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Votre profil" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li class="m_right_10 current">
        <a href="/" class="default_t_color">
            {% trans "Accueil" %}
            <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
        </a>
    </li>
    <li><a href="{% url 'profile:details' %}" class="default_t_color">{% trans "Votre profil" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <h2>{% trans "Profil" %}</h2>
    <p>
        <a href="{% url 'registration:change_password' %}" class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">{% trans "Changer son mot de passe" %}</a>
        <a href="{% url 'registration:request_email_change' %}" class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">{% trans "Changer son adresse email" %}</a>
    </p>


    <h3>Vos adresses</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-6">{% trans "Destinataire" %}</th>
                <th class="col-sm-2">{% trans "Facturation" %}</th>
                <th class="col-sm-2">{% trans "Livraison" %}</th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <th class="col-sm-6">
                    {{ address }}
                </th>
                <td class="col-sm-2">
                    {% if user.default_billing_address == address %}
                    <span class="label label-default">{% trans "Par d&eacute;faut" %}</span>
                    {% else %}
                    <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="billing" %}" class="form-inline form-horizontal" novalidate>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm button_type_6 bg_scheme_color r_corners tr_all_hover color_light m_bottom_20">{% trans "Mettre par d&eacute;faut" %}</button>
                    </form>
                    {% endif %}
                </td>
                <td class="col-sm-2">
                    {% if user.default_shipping_address == address %}
                    <span class="label label-default">{% trans "Par d&eacute;faut" %}</span>
                    {% else %}
                    <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="shipping" %}" class="form-inline form-horizontal" novalidate>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm button_type_6 bg_scheme_color r_corners tr_all_hover color_light m_bottom_20">{% trans "Mettre par d&eacute;faut" %}</button>
                    </form>
                    {% endif %}
                </td>
                <td class="col-sm-2">
                    <a href="{% url 'profile:address-edit' pk=address.pk %}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i> {% trans "Editer" %}</a>
                    <a href="{% url 'profile:address-delete' pk=address.pk %}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> {% trans "Supprimer" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{% url 'profile:address-create' %}" class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20"><i class="glyphicon glyphicon-plus-sign"></i> {% trans "Ajouter une adresse" %}</a>
    </div>


{% endblock content %}

