venv
.idea
*.sqlite*
README.adoc
fabfile.py
.gitignore
.git
docker-compose.yml
__pycache__
.DS_Store
node_modules
tests
*.tmplt.yml
.travis.yml
runtime.txt
build/cache/node_modules
build/cache/npm

# local shared dir
data
log
media
_media

mychichair/static/assets
*.docker
