# IDE
.idea

# Local DB
*.sqlite3

# Python
venv
__pycache__/

# MacOS
.DS_Store

# Django mychichair
media
_media
*.sqlite
/static/
build/
dist/

# shared dir
data
log

# npm
node_modules
mychichair/static/assets/

# Generated
docker-compose.yml
webpack-bundle.json
