{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Modifier son mot de passe" %}{% endblock %}

{% block breadcrumb %}
    <li class="m_right_10 current">
        <a href="/" class="default_t_color">
            {% trans "Accueil" %}
            <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
        </a>
    </li>
    <li class="m_right_10 current">
        <a href="{% url 'profile:details' %}" class="default_t_color">
            {% trans "Votre profil" %}
            <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
        </a>
    </li>
    <li><a href="{% url 'registration:change_password' %}" class="default_t_color">{% trans "Modifier son mot de passe" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans "Modifier son mot de passe" %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>

                    <div class="form-group">
                        <button class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">
                            {% trans "Modifier son mot de passe" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
