{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Fournir son mot de passe" %} — {{ block.super }}{% endblock %}

{% block content %}
<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Fournir son mot de passe" %}</legend>
        {% bootstrap_form form layout='horizontal' %}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">
                {% trans "Set password" %}
            </button>
        </div>
    </div>
</form>
<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">
                {% trans "Je ne veux pas de mot de passe" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
