<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}
{% load gross from prices_i18n %}

<html lang="en" class="no-js">
<head>
    <title>{% block title %}MyChicHair{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Madicorp">
        <meta name="google-site-verification" content="bqPF0b-pSI8N9Y1xvYfZakdDe19HnNTBQzhykwMTiqw"/>
        <meta name="description"
              content="MyChicHair, votre site de vente de cheveux naturels &agrave; Dakar avec des textures ondul&eacute;es &agrave; raides de 12 &agrave; 24&rdquo;.">
        <meta name="keywords" content="cheveux naturels dakar senegal">
        <meta property="og:title" content="Vente de cheveux 100% naturels à Dakar (MyChicHair)">
        <meta property="og:description"
              content="MyChicHair, votre site de vente de cheveux naturels &agrave; Dakar avec des textures ondul&eacute;es &agrave; raides de 12 &agrave; 24&rdquo;.">
        <meta property="og:url" content="//www.mychichair.com/">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static 'images/background.jpeg' %}">
        <meta property="og:site_name" content="MyChicHair">
        <link rel="icon" type="image/ico" href="{% static 'images/fav.ico' %}">
    {% endblock meta %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body itemscope itemtype="http://schema.org/WebPage">
<div class="boxed_layout relative w_xs_auto">
    {% block header %}
        <!--[if (lt IE 9) | IE 9]>
        <div style="background:#fff;padding:8px 0 10px;">
            <div class="container" style="width:1170px;">
                <div class="row wrapper">
                    <div class="clearfix" style="padding:9px 0 0;float:left;width:83%;">
                        <i class="fa fa-exclamation-triangle scheme_color f_left m_right_10"
                           style="font-size:25px;color:#e74c3c;"></i>
                        <b style="color:#e74c3c;">Attention! This page may not display correctly.</b>
                        <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing
                            experience.</b>
                    </div>
                    <div class="t_align_r" style="float:left;width:16%;">
                        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"
                           class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c"
                           target="_blank" style="margin-bottom:2px;">Update Now!</a>
                    </div>
                </div>
            </div>
        </div>
        <![endif]-->
        {# banner #}
        <header role="banner">
            {# header top part #}
            <section class="h_top_part">
                <div class="container">
                    <div class="row clearfix">
                        {% if not user.is_authenticated %}
                            <div class="col-lg-8 col-md-8 col-sm-10 t_xs_align_c">
                                <p class="f_size_small">
                                    Bienvenue, vous pouvez
                                    <a href="#" data-popup="#login_popup">Accéder à votre compte</a>
                                    ou
                                    <a href="{% url "registration:login" %}">Vous inscrire</a>
                                </p>
                            </div>
                        {% endif %}
                        <div class="col-lg-4 col-md-4 col-sm-2 t_align_c t_xs_align_c">
                            <p class="f_size_small">Appelez-nous: <b class="color_dark">+221 78 308 63 63</b></p>
                        </div>
                        {% if user.is_authenticated %}
                            <nav class="col-lg-8 col-md-8 col-sm-10 t_align_r t_xs_align_c">
                                <ul class="d_inline_b horizontal_list clearfix f_size_small users_nav">
                                    <li>
                                        Bonjour, {{ user }}.
                                    </li>
                                    <li>
                                        <a href="{% url "profile:details" %}" class="default_t_color">
                                            Votre profil
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "profile:orders" %}" class="default_t_color">
                                            Vos commandes
                                        </a>
                                    </li>
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{% url "dashboard:index" %}" target="_blank">
                                                Dashboard
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url "registration:logout" %}" class="default_t_color">
                                            Se d&eacute;connecter
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="h_bot_part container">
                <div class="clearfix row">
                    {# Link to home #}
                    <div class="col-lg-6 col-md-6 col-sm-4 t_xs_align_c">
                        <a href="/" class="brand m_xs_bottom_15 d_xs_inline_b f_size_big scheme_color">
                            MyChicHair
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 t_align_r t_xs_align_c">
                        <ul class="d_inline_b horizontal_list clearfix t_align_l site_settings">
                            {# checkout #}
                            <li class="m_left_5 relative container3d" id="shopping_button">
                                <a role="button" href="#"
                                   class="button_type_3 color_light bg_scheme_color d_block r_corners tr_delay_hover box_s_none">
                                    <span class="d_inline_middle shop_icon m_mxs_right_0">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="count tr_delay_hover type_2 circle t_align_c">
                                            {% if cart_counter %}
                                                {{ cart_counter }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </span>
                                    </span>
                                    <b class="d_mxs_none">
                                        {% if cart_lines %}
                                            {% gross cart_total html=True %}
                                            {% if local_cart_total %}
                                                &asymp;
                                                {% gross local_cart_total html=True %}
                                            {% endif %}
                                        {% endif %}
                                    </b>
                                </a>
                                {% if cart_lines %}
                                    <div class="shopping_cart top_arrow tr_all_hover r_corners">
                                        <div class="f_size_medium sc_header">Produit(s) ajout&eacute;(s)</div>
                                        <ul class="products_list">
                                            {% for line in cart_lines %}
                                                <li>
                                                    <div class="clearfix">
                                                        {# product image #}
                                                        <a href="{{ line.variant.get_absolute_url }}">
                                                            {% if line.variant.product.images.first %}
                                                                <img class="f_left m_right_10" itemprop="image"
                                                                     src="{{ line.variant.product.images.first.image.crop.100x100 }}"
                                                                     alt="">
                                                            {% else %}
                                                                <img class="f_left m_right_10"
                                                                     src="{% static 'images/product-image-placeholder-small.png' %}"
                                                                     alt="">
                                                            {% endif %}
                                                        </a>
                                                        {# product description #}
                                                        <div class="f_left product_description">
                                                            <a href="{{ line.variant.get_absolute_url }}"
                                                               class="color_dark m_bottom_5 d_block">
                                                                {{ line.variant.product }}
                                                                - {{ line.variant.display_variant }}
                                                            </a>
                                                        </div>
                                                        {# product price #}
                                                        <div class="f_left f_size_medium">
                                                            <div class="clearfix">
                                                                {{ line.quantity }} x
                                                                <b class="color_dark">
                                                                    {% gross line.get_price_per_item html=True %}
                                                                </b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {# total price #}
                                        <ul class="total_price bg_light_color_1 t_align_r color_dark">
                                            <li>
                                                Total:
                                                <b class="f_size_large bold scheme_color sc_price t_align_l d_inline_b m_left_15">
                                                    {% gross cart_total html=True %}
                                                    {% if local_cart_total %}
                                                        &asymp;
                                                        {% gross local_cart_total html=True %}
                                                    {% endif %}
                                                </b>
                                            </li>
                                        </ul>
                                        <div class="sc_footer t_align_c">
                                            <a href="{% url "cart:index" %}" role="button"
                                               class="button_type_4 d_inline_middle bg_light_color_2 r_corners color_dark t_align_c tr_all_hover m_mxs_bottom_5">
                                                Voir votre Panier
                                            </a>
                                            <a href="{% url "checkout:index" %}" role="button"
                                               class="button_type_4 bg_scheme_color d_inline_middle r_corners tr_all_hover color_light">
                                                Passer votre Commande
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
    {% endblock %}

    {% block outerbreadcrumb %}
        <section class="breadcrumbs">
            <div class="container">
                <ul class="horizontal_list clearfix bc_list f_size_medium">
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </ul>
            </div>
        </section>
    {% endblock outerbreadcrumb %}
    {% block content_header %}
    {% endblock %}
    <div class="page_content_offset">
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    {# TODO the right classes #}
                    {# success <div class="alert_box r_corners color_green success m_bottom_10"><i class="fa fa-smile-o"></i><p>Well done! You successfully read this important alert message. </p> </div> #}
                    {# warning <div class="alert_box r_corners error m_bottom_10"><i class="fa fa-exclamation-triangle"></i><p>Failed loading XML file </p> </div> #}
                    {# failure <div class="alert_box r_corners warning m_bottom_10"><i class="fa fa-exclamation-circle"></i><p>Warning! Best check yo self, you're not looking too good. </p> </div> #}
                    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container">
            {#    {% block outerbreadcrumb %}#}
            {#        <ul class="breadcrumb" itemprop="breadcrumb">#}
            {#            {% block breadcrumb %}#}
            {#                <li>#}
            {#                    <a href="/">{% trans "Home" %}</a>#}
            {#                </li>#}
            {#            {% endblock breadcrumb %}#}
            {#        </ul>#}
            {#    {% endblock outerbreadcrumb %}#}
            {% block outercontent %}
                {% block content %}
                    {% include "category/_items.html" %}
                {% endblock content %}
            {% endblock outercontent %}
        </div>
        {% block contentfooter %}
            <div class="row clearfix" style="margin-top: 3em; margin-bottom: 1.5em">
                <div class="col-lg-2 col-md-2 col-sm-2">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#"
                       class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
                    <span class="d_inline_middle">
                        <img class="d_inline_middle m_md_bottom_5" src="{% static 'images/banner_img_3.png' %}" alt="">
                        <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                            <b>100% Naturels</b>
                            <br>
                            <span class="color_dark">Et de qualit&eacute;</span>
                        </span>
                    </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#"
                       class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
                    <span class="d_inline_middle">
                        <img class="d_inline_middle m_md_bottom_5" src="{% static 'images/banner_img_4.png' %}" alt="">
                        <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                            <b>Livraison gratuite</b>
                            <br>
                            <span class="color_dark">&Agrave; Dakar</span>
                        </span>
                    </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                </div>
            </div>
        {% endblock contentfooter %}
    </div>
    {% block footer %}
        <footer id="footer">
            <div class="footer_top_part">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                            <h3 class="color_light_2 m_bottom_20">&Agrave; propos de nous</h3>
                            <p class="m_bottom_25">
                                <span class="brand">MyChicHair</span> est votre site de vente de cheveux naturels de
                                qualit&eacute; à Dakar.
                            </p>
                            {# social icons #}
                            <ul class="clearfix horizontal_list social_icons">
                                <li class="facebook m_bottom_5 relative">
                                    <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Facebook</span>
                                    <a href="#" class="r_corners t_align_c tr_delay_hover f_size_ex_large"
                                       onclick="openSocialNetworkLink('fb://page/mychichair', 'https://www.facebook.com/mychichair/')">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="instagram m_left_5 m_bottom_5 relative">
                                    <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Instagram</span>
                                    <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover"
                                       onclick="openSocialNetworkLink('instagram://user?username=mychichair', 'https://www.instagram.com/mychichair/')">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                {# TODO contact page #}
                                <li class="envelope m_left_5 m_bottom_5 relative">
                                    <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Contact</span>
                                    <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                            {% if user.is_authenticated %}
                                <h3 class="color_light_2 m_bottom_20">Service</h3>
                                <ul class="vertical_list">
                                    <li>
                                        <a class="color_light tr_delay_hover" href="{% url "profile:details" %}">
                                            Votre compte
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="color_light tr_delay_hover" href="{% url "profile:orders" %}">
                                            Vos commandes
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                    {% if user.is_staff %}
                                        <li>
                                            <a class="color_light tr_delay_hover" href="{% url "dashboard:index" %}">
                                                Dashboard
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                            <h3 class="color_light_2 m_bottom_20">Informations</h3>
                            <ul class="vertical_list">
                                <li>
                                    <a class="color_light tr_delay_hover" href="#">
                                        &Agrave; propos de nous
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="color_light tr_delay_hover" href="#">
                                        Politique de confidentialit&eacute;
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="color_light tr_delay_hover" href="#">
                                        Conditions d&rsquo;utilisation
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {# copyright part #}
            <div class="footer_bottom_part">
                <div class="container clearfix t_mxs_align_c">
                    <p class="f_left f_mxs_none m_mxs_bottom_10">&copy; 2016 <span
                            class="color_light brand">MyChicHair</span>.
                        All Rights Reserved.
                        Powered by <a href="http://madi-corp.net">Madicorp</a>
                    </p>
                </div>
            </div>
        </footer>
    {% endblock %}
</div>
{# social widgets #}
<ul class="social_widgets d_xs_none">
    {# TODO facebook widget appid#}
    {#    <li class="relative">#}
    {#        <button class="sw_button t_align_c facebook"><i class="fa fa-facebook"></i></button>#}
    {#        <div class="sw_content">#}
    {#            <h3 class="color_dark m_bottom_20">{% trans 'Nous rejoindre sur Facebook' %}</h3>#}
    {#            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;width=235&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266"#}
    {#                    style="border:none; overflow:hidden; width:235px; height:258px;"></iframe>#}
    {#        </div>#}
    {#    </li>#}
    {# contact form #}
    <li class="relative">
        <button class="sw_button t_align_c contact"><i class="fa fa-envelope-o"></i></button>
        <div class="sw_content">
            <h3 class="color_dark m_bottom_20">Contactez nous</h3>
            <p class="f_size_medium m_bottom_15">Nous serons ravis de vous r&eacute;pondre au plus vite</p>
            <form id="contactform" class="mini" action="/api/messages" method="post">
                <input class="f_size_medium m_bottom_10 r_corners full_width" type="text" name="name"
                       placeholder="{% trans 'Votre nom' %}">
                <input class="f_size_medium m_bottom_10 r_corners full_width" type="email" name="email"
                       placeholder="{% trans 'Email' %}">
                <textarea class="f_size_medium r_corners full_width m_bottom_20" placeholder="{% trans 'Message' %}"
                          name="message"></textarea>
                <button type="submit" class="button_type_4 r_corners mw_0 tr_all_hover color_dark bg_light_color_2">
                    {% trans 'Envoyer' %}
                </button>
            </form>
        </div>
    </li>
    {# TODO contact info WIDGET #}
    {#    <li class="relative">#}
    {#        <button class="sw_button t_align_c googlemap"><i class="fa fa-map-marker"></i></button>#}
    {#        <div class="sw_content">#}
    {#            <h3 class="color_dark m_bottom_20">Store Location</h3>#}
    {#            <ul class="c_info_list">#}
    {#                <li class="m_bottom_10">#}
    {#                    <div class="clearfix m_bottom_15">#}
    {#                        <i class="fa fa-map-marker f_left color_dark"></i>#}
    {#                        <p class="contact_e">8901 Marmora Road,<br> Glasgow, D04 89GR.</p>#}
    {#                    </div>#}
    {#                    <iframe class="r_corners full_width" id="gmap_mini" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=Manhattan,+New+York,+NY,+United+States&amp;aq=0&amp;oq=monheten&amp;sll=37.0625,-95.677068&amp;sspn=65.430355,129.814453&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9C%D0%B0%D0%BD%D1%85%D1%8D%D1%82%D1%82%D0%B5%D0%BD,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%9D%D1%8C%D1%8E+%D0%99%D0%BE%D1%80%D0%BA,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA&amp;ll=40.790278,-73.959722&amp;spn=0.015612,0.031693&amp;z=13&amp;output=embed"></iframe>#}
    {#                </li>#}
    {#                <li class="m_bottom_10">#}
    {#                    <div class="clearfix m_bottom_10">#}
    {#                        <i class="fa fa-phone f_left color_dark"></i>#}
    {#                        <p class="contact_e">800-559-65-80</p>#}
    {#                    </div>#}
    {#                </li>#}
    {#                <li class="m_bottom_10">#}
    {#                    <div class="clearfix m_bottom_10">#}
    {#                        <i class="fa fa-envelope f_left color_dark"></i>#}
    {#                        <a class="contact_e default_t_color" href="mailto:#">info@companyname.com</a>#}
    {#                    </div>#}
    {#                </li>#}
    {#                <li>#}
    {#                    <div class="clearfix">#}
    {#                        <i class="fa fa-clock-o f_left color_dark"></i>#}
    {#                        <p class="contact_e">Monday - Friday: 08.00-20.00 <br>Saturday: 09.00-15.00<br> Sunday: closed</p>#}
    {#                    </div>#}
    {#                </li>#}
    {#            </ul>#}
    {#        </div>#}
    {#    </li>#}
</ul>

{# login popup #}
<div class="popup_wrap d_none" id="login_popup">
    <section class="popup r_corners shadow">
        <button class="bg_tr color_dark tr_all_hover text_cs_hover close f_size_large"><i class="fa fa-times"></i>
        </button>
        <h3 class="m_bottom_20 color_dark">Connexion</h3>
        <form method="post" action="{% url 'registration:login' %}" novalidate>
            {% if facebook_login_url or google_login_url %}
                <p>Se connecter par les réseaux sociaux ?</p>
                <p style="text-align: center">
                    {% if facebook_login_url %}
                        <a class="icon-facebook fa-stack fa-lg" href="{{ facebook_login_url }}">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </a>
                    {% endif %}
                    {% if google_login_url %}
                        <a class="icon-gplus fa-stack fa-lg" href="{{ google_login_url }}">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-google-plus fa-stack-1x"></i>
                        </a>
                    {% endif %}
                </p>
                <hr>
            {% endif %}
            {% csrf_token %}
            <ul>
                <li class="m_bottom_15">
                    <label for="username" class="m_bottom_5 d_inline_b">Nom d&rsquo;utilisateur</label><br>
                    <input type="text" name="username" id="id_username" class="r_corners full_width">
                </li>
                <li class="m_bottom_25">
                    <label for="password" class="m_bottom_5 d_inline_b">Mot de passe</label><br>
                    <input type="password" name="password" id="id_password" class="r_corners full_width">
                </li>
                <li class="clearfix m_bottom_30">
                    <button class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15">
                        Se connecter
                    </button>
                    <div class="f_right f_size_medium f_mxs_none">
                        <a href="{% url 'registration:request_email_confirmation' %}" class="color_dark">Mot de passe
                            oubli&eacute; ?</a><br>
                    </div>
                </li>
            </ul>
        </form>
        <footer class="bg_light_color_1 t_mxs_align_c">
            <h3 class="color_dark d_inline_middle d_mxs_block m_mxs_bottom_15">Vous n&rsquo;avez pas de compte ?</h3>
            <a href="{% url 'registration:request_email_confirmation' %}" role="button"
               class="tr_all_hover r_corners button_type_4 bg_dark_color bg_cs_hover color_light d_inline_middle m_mxs_left_0">
                Cr&eacute;ez en un
            </a>
        </footer>
    </section>
</div>
</body>
</html>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap.min.css' %}">
{% compress css %}
    {# stylesheet include #}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/camera.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/jquery.custom-scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/custom.css' %}">
{% endcompress %}
{# font include #}
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

{% render_bundle 'vendor' 'css' %}
{% render_bundle 'storefront' 'css' %}

{% block stylesheet %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/owl.transitions.css' %}">
    {% endcompress %}
{% endblock stylesheet %}

{% compress js %}
    <script src="{% static 'js/modernizr.js' %}"></script>
{% endcompress %}
{# scripts include #}
<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

{% compress js %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/retina.js' %}"></script>
{% endcompress %}
<script src="{% static 'js/camera.min.js' %}"></script>
{% compress js %}
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
{% endcompress %}
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.tweet.min.js' %}"></script>
<script async src="{% static 'js/handlebars.runtime.min.js' %}"></script>
<script src="{% static 'js/elevatezoom.min.js' %}"></script>
{% compress js %}
    <script src="{% static 'js/jquery.custom-scrollbar.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
{% endcompress %}
{% block footer_scripts %}
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'storefront' 'js' %}
{% endblock footer_scripts %}
