{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}


{% block forms %}
    <form method="post" novalidate>
        {% csrf_token %}
        <h4>{% trans "Paiement" %}</h4>
        <p class="text-right">
            {% bootstrap_form payment_form %}

            {% bootstrap_form billing_address_form %}
            <button type="submit" class="btn button_type_12 r_corners bg_scheme_color color_light tr_delay_hover d_inline_b f_size_large">
                {% trans "Commander" %}
            </button>
        </p>
    </form>
{% endblock forms %}
