{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block steps_menu %}
    <div class="nav nav-pills nav-justified nav-wizard">
        <a href="{% url "cart:index" %}">
              {% trans "Panier" %}
              <div class="nav-arrow"></div>
        </a>
        <a class="active" href="{% url "checkout:shipping-address" %}">
            <div class="nav-wedge"></div>
            {% trans "Adresse de livraison" %}
            <div class="nav-arrow"></div>
        </a>
        <a>
            <div class="nav-wedge"></div>
            {% trans "M&eacute;thode de livraison" %}
            <div class="nav-arrow"></div>
        </a>
        <a>
            <div class="nav-wedge"></div>
            {% trans "R&eacute;sum&eacute;" %}
        </a>
    </div>
{% endblock steps_menu %}


{% block forms %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <h3>{% trans "Adresse de livraison" %}</h3>
        </div>
        {% if request.user.is_authenticated %}
            {% include "checkout/snippets/addresses-form.html" with addresses_form=user_form addresses=additional_addresses address_form=address_form only %}
        {% else %}
            {% bootstrap_form user_form %}
            {% include "userprofile/snippets/address-form.html" with address_form=address_form only %}
        {% endif %}

        <p class="text-right">
            <button type="submit" class="btn button_type_12 r_corners bg_scheme_color color_light tr_delay_hover d_inline_b f_size_large">
                {% trans "Choisir la m&eacute;thode de livraison" %}
            </button>
        </p>
    </form>
{% endblock %}
