{% extends "checkout/details.html" %}
{% load i18n %}


{% block steps_menu %}
    <div class="nav nav-pills nav-justified nav-wizard">
        <a href="{% url "cart:index" %}">
            {% trans "Panier" %}
            <div class="nav-arrow"></div>
        </a>
        <a href="{% url "checkout:shipping-address" %}">
            <div class="nav-wedge"></div>
            {% trans "Coordonnées" %}
            <div class="nav-arrow"></div>
        </a>
        <a href="{% url "checkout:shipping-method" %}">
            <div class="nav-wedge"></div>
            {% trans "Méthode de livraison" %}
            <div class="nav-arrow"></div>
        </a>
        <a class="active" href="{% url "checkout:summary" %}">
            <div class="nav-wedge"></div>
            {% trans "R&eacute;sum&eacute;" %}
        </a>
    </div>
{% endblock steps_menu %}


{% block forms %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <h3>{% trans "Coordonnées de facturation" %}</h3>
        </div>

        {% include "checkout/snippets/addresses-form.html" with addresses_form=addresses_form addresses=additional_addresses address_form=address_form only %}

        <p class="text-right">
            <button type="submit" class="btn button_type_12 r_corners bg_scheme_color color_light tr_delay_hover d_inline_b f_size_large">
                {% trans "Commander" %}
            </button>
        </p>
    </form>
{% endblock forms %}
