{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Paiement de la commande" %} {{ order }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {% if order.user == user %}
        <li class="m_right_10 current">
            <a href="/" class="default_t_color">
                {% trans "Accueil" %}
                <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
            </a>
        </li>
        <li class="m_right_10 current">
            <a href="{% url 'profile:orders' %}" class="default_t_color">
                {% trans "Vos commandes" %}
                <i class="fa fa-angle-right d_inline_middle m_left_10"></i>
            </a>
        </li>
        <li><a href=href="{% url 'order:details' token=order.token %}" class="default_t_color">{{ order }}</a></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% if order.user == user or not order.is_fully_paid %}
                {% if not order.is_fully_paid %}
                    <div class="panel panel-info color-scheme">
                        {% if waiting_payment %}
                            <div class="panel-heading">
                                {% trans "Paiement en attente" %}
                            </div>
                            <div class="panel-body">
                                <form method="post" action="{% url 'order:cancel-payment' token=order.token %}">
                                    {% csrf_token %}
                                    <p>{% trans "Nous attendons une autorisation pour votre paiement." %}</p>
                                    <p>{% trans "Statut actuel" %}: <span
                                            class="label label-default">{{ waiting_payment.get_status_display }}</span>
                                    </p>
                                    <p>{% trans "A moins d&rsquo;&ecirc;tre s&ucirc;r que le paiement ait &eacute;chou&eacute;, attendez avant d'en refaire un pour &eacute;viter d'&ecirc;tre d&eacute;bit&eacute; 2 fois." %}</p>
                                    {% bootstrap_form waiting_payment_form %}
                                    <button type="submit"
                                            class="btn btn-danger">{% trans "Je comprends, je veux tenter un nouveau paiement." %}</button>
                                </form>
                            </div>
                        {% elif payment_form %}
                            <div class="panel-heading">
                                {% trans "Paiement de la commande" %} {{ order }}
                            </div>
                            <div class="panel-body">
                                <form method="post" action="{% url "order:payment" token=order.token %}">
                                    {% csrf_token %}
                                    {{ payment_form }}
                                    <div class="form-group text-right">
                                        {% block form_submit %}
                                            <button type="submit" class="btn btn-primary color-scheme">
                                                {% trans "Confirmer la commande" %}
                                            </button>
                                        {% endblock %}
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="panel-body alert-info color-scheme">
                                <span>{% trans "Votre transaction a &eacute;t&eacute; accept&eacute;e. Votre commande est en cours de traitement." %}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if order.user == user %}
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% trans "Adresse de facturation" %}
                    </div>
                    <div class="panel-body">
                        <address>{% include "userprofile/snippets/address-details.html" with address=order.billing_address %}</address>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                {% if order.is_shipping_required %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% trans "Adresse de livraison" %}
                        </div>
                        <div class="panel-body">
                            <address>{% include "userprofile/snippets/address-details.html" with address=order.shipping_address %}</address>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% for group in groups %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% blocktrans with number=forloop.counter %}Livraison #{{ number }}{% endblocktrans %}
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-6">{% trans "Nom" %}</th>
                    <th class="col-sm-3 text-right">{% trans "Prix" %}</th>
                    <th class="col-sm-3 text-right">{% trans "Sous-total" %}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="2">{% trans "Total" %}</th>
                    <th class="text-right">{% gross group.get_total %}</th>
                </tr>
                </tfoot>
                <tbody>
                {% for item in group %}
                    <tr>
                        <td>{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                        <td class="text-right">{% gross item.get_price_per_item %}</td>
                        <td class="text-right">{% gross item.get_total %}</td>
                    </tr>
                {% endfor %}
                {% if group.shipping_price.gross %}
                    <tr>
                        <td class="col-sm-4">
                            {% trans "Livraison" %}
                        </td>
                        <td class="text-right">{% gross group.shipping_price %}</td>
                        <td class="text-right">{% gross group.shipping_price %}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    {% if order.discount_amount %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ order.discount_name }}
            </div>
            <div class="panel-body text-right">
                <strong>{% gross order.discount|discount_amount_for:order.total %}</strong>
            </div>
        </div>
    {% endif %}
    {% if order.discount_amount or groups|length > 1 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Total" %}
            </div>
            <div class="panel-body text-right">
                <strong>{% gross order.total %}</strong>
            </div>
        </div>
    {% endif %}
{% endblock content %}
